{% extends 'base.html' %}
{% block content %}

    <div class="container-xxl mt-3">
        <div class="card">
            <div class="card-body">
                <h1>Сданные работы</h1>
                <div class="p-3">
                    <div class="row row-cols-3">
                    {% for work in works %}
                        <div class="card p-0">
                            <div class="card-header {% if work.status %}bg-success{% endif %}">
                                Статус: {% if work.status %}проверена{% else %}не проверена{% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ work.user.get_full_name|default:work.user.username }}</h5>
                                <p class="card-text">Оценка: {{ work.grade }}</p>

                                <p class="card-text">Время загрузки: {{ work.created_at }}</p>
                                <div class="mb-3">
                                    {% if work.work %}
                                        <a href="{{ user_work.work.url }}"
                                           class="btn btn-outline-primary btn-sm rounded-pill">файл</a>
                                    {% endif %}
                                    {% if work.link %}
                                        <a href="{{ user_work.link }}"
                                           class="btn btn-outline-primary btn-sm rounded-pill">ссылка</a>
                                    {% endif %}
                                </div>

                                <a href="{% url 'webapp:work_check' work.pk %}" class="btn btn-primary rounded-pill">Проверить</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}