{% extends 'base.html' %}
{% block content %}

    <div class="container-xxl py-3">
        <div class="card mb-3">
            <div class="card-body">
                <h1>{{ work.lesson.get_type_lesson_display }} #{{ work.lesson.number }}</h1>
                <div>
                    <p class="card-text">Оценка: {{ work.grade }}</p>
                    <h5 class="card-title">Рецензия</h5>
                    <div class="border border-1 border-secondary rounded-3 p-4">
                        {{ work.review| safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}