{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}CRM Attractor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>


<div class="d-flex justify-content-center">
    <div class="card m-4">
        <div class="card-header mb-4 px-4 card-header-logo d-flex">
            <img src="{% static 'images/attractor-logo.png' %}" alt="attractor-logo" width="60" class="h-auto">
            <span class="mx-auto lh-base">Attractor School</span>
        </div>
        <div class="card-body">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
        </symbol>
    </svg>
    {% if form.errors %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill"></use>
            </svg>
            <div>
                Your username and password didn't match. Please try again.
            </div>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"></use>
                </svg>
                <div>
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                </div>
            </div>
        {% else %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"></use>
                </svg>
                <div>
                    Please login to see this page.
                </div>
            </div>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <div class="mb-3 d-flex mx-5">
            <div class="lh-base me-3">{{ form.username.label_tag }}</div>
            <div class="ms-auto">{{ form.username }}</div>
        </div>
        <div class="mb-3 d-flex mx-5">
            <div class="lh-base me-3">{{ form.password.label_tag }}</div>
             <div class="ms-auto">{{ form.password }}</div>
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <input type="submit" value="Войти" class="btn btn-outline-dark"/>
            <input type="hidden" name="next" class="btn btn-outline-success" value="{{ next }}"/>
        </div>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <div class="mb-3 d-flex justify-content-center">
        <a href="{% url 'accounts:password_reset' %}">Забыли пароль?</a>
    </div>
        </div>
    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>

</body>
</html>