{% extends 'base.html' %}
{% block content %}

    <div class="container-xxl py-3">
        <div class="card">
            <div class="card-body">
                <h1>Добавить пользователя</h1>
                <form action="" method="post">
                    {% include 'partial/form.html' with button_text="Добавить" %}

                </form>
            </div>
        </div>
    </div>
{% endblock %}