{% extends 'base.html' %}
{% block content %}
    <div class="container-xxl py-3">
        <div class="card">
            <div class="card-body">
                <h1>Смена пароля</h1>

                <form action="" method="post">
                    {% include 'partial/form.html' with button_text="Изменить" %}

                </form>
            </div>
        </div>
    </div>
{% endblock %}