{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl mt-3">
        <div class="row flex-column">
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ group.language.name_language }}
                            #{{ group.number_group }}</h5>
                        <p class="card-text">Дата запуска группы: {{ group.data_start }} </p>
                        {% if group.data_end %}
                            <p class="card-text">Дата выпуска группы:{{ group.data_end }} </p>{% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title d-inline-block">Периоды </h5>
                        <a class="btn btn-outline-success btn-sm rounded-circle"
                           href="{% url 'webapp:period_create' group.pk %}"
                           role="button"><i class="bi bi-plus-lg"></i></a>
                        <div class="p-1">
                            {% for period in group.periods.all %}
                                <a href="{% url "accounts:user_results_period" group.pk period.pk %}"
                                   class="btn {% if period_now.pk == period.pk %} btn-success disabled
                                  {% else %} btn-outline-secondary {% endif %}">
                                    #{{ period.number_period }}</a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            {% if period_now %}
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-header d-flex">
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0">Учебный месяц №{{ period_now.number_period }} </h5>
                                <span class="ms-3">({{ period_now.data_start|date:"d-m-Y" }}-{{ period_now.data_end|date:"d-m-Y" }})</span>
                            </div>
                            <h5 class="border rounded-pill border-success ms-auto px-2 py-1 mb-0">{{ total_result }}</h5>
                        </div>
                        <div class="row row-cols-{{ lessons_count }} m-2 mb-4">
                            {% for lesson in lessons %}
                                <div class="col my-2">
                                    <div class="card border h-100
                                        {% if lesson.data_start|date:"Ymd" == now|date:"Ymd" %} border-success
                                        {% else %} border-secondary {% endif %}">
                                        <div class="card-header d-flex align-items-center">
                                            <h5 class="mb-0">{{ lesson.get_type_lesson_display }}
                                                #{{ lesson.number }}</h5>
                                        </div>
                                        <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted d-inline-block">
                                            Оценка: </h6>
                                            {% for work in user_works %}
                                                {% if work.lesson == lesson %}
                                                    <h6 class="card-subtitle mb-2 text-muted d-inline-block"> <a href="{% url 'webapp:work_view' work.pk %}"
                                                       class="card-link link-success">{{ work.grade }}</a></h6>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if control %}
                                <div class="col my-2">
                                    <div class="card border h-100
                                        {% if control.data_start|date:"Ymd" == now|date:"Ymd" %} border-success
                                        {% else %} border-secondary {% endif %}">
                                        <div class="card-header d-flex align-items-center">
                                            <h5 class="mb-0">{{ control.get_type_lesson_display }}
                                                #{{ control.number }}</h5>
                                        </div>
                                        <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted d-inline-block">
                                            Оценка: </h6>
                                            {% for work in user_works %}
                                                {% if work.lesson == control %}
                                                    <h6 class="card-subtitle mb-2 text-muted d-inline-block"> <a href="{% url 'webapp:work_view' work.pk %}"
                                                       class="card-link link-success">{{ work.grade }}</a></h6>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}