{% extends 'base.html' %}
{% block content %}

    <div class="container-xxl py-3">
        <div class="card">
            <div class="card-body">
                <h1>Поменять личные данные</h1>

                <form action="" method="post" enctype="multipart/form-data">
                    {% include 'partial/form.html' with fields_only=True %}
                    {% include 'partial/form.html' with form=profile_form button_text="Изменить" %}

                </form>
            </div>
        </div>
    </div>
{% endblock %}