{% extends 'base.html' %}
{% block content %}

    <div class="container-xxl py-3">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Роль</th>
                        <th scope="col">Группы</th>
                        <th scope="col"> Время создание</th>
                        <th scope="col">Дейстивия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for el in role_and_group %}
                        <tr>

                            <td>{% if el.user %}
                                <a href="{% url 'accounts:detail' el.user.pk %}">{{ el.user.username }}</a>
                            {% else %}-{% endif %}
                            </td>
                            <td>{{ el.get_user_role_display }}</td>
                            <td>{% for group in el.groups.all %}
                                {{ group.language.name_language }}#{{ group.number_group }}
                                {% if  not forloop.last %}, {% endif %}{% endfor %}</td>

                            <td>{{ el.created_at }}</td>
                            <td>
                                {% if el.user %}
                                {% else %}
                                    <a class="btn btn-outline-success btn-sm rounded-pill"
                                       href="{% url 'accounts:create' el.token %}" role="button">Ссылка для
                                        регистрации</a>
                                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill"
                                            data-url="{% url 'accounts:create' el.token %}" onclick="myFunction(this)">
                                        Скопировать
                                        ссылку
                                    </button>
                                    <a class="btn btn-outline-danger btn-sm rounded-circle"
                                       href="{% url 'accounts:token_delete' el.pk %}" role="button"><i
                                            class="bi bi-trash"></i></a>

                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block my_script %}
    <script>
        function myFunction(e) {
            navigator.clipboard.writeText(host + e.dataset.url);
            }
    </script>
{% endblock %}