{% extends 'base.html' %}
{% block content %}

    <div class="container-xxl py-3">
        <div class="card mb-3">
            <div class="card-body">
                <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
                <div class="row g-0">
                    {% if user_obj.avatar %}
                        <div class="col-md-4">
                            <img src="{{ user_obj.avatar.url }}" class="img-fluid rounded-start w-75">
                        </div>
                    {% endif %}
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Имя пользователя: {{ user_obj.username }}</h5>
                            <p class="card-text">Имя: {{ user_obj.first_name|default:'-' }}</p>
                            <p class="card-text">Фамилия: {{ user_obj.last_name|default:'-' }}</p>
                            <p class="card-text">Дата рождения: {{ user_obj.birth_date|date:'d.m.Y'|default:'-' }}</p>
                            <p class="card-text">Почта: {{ user_obj.email|default:'-' }}</p>
                            {% if user_obj == request.user %}
                                <a href="{% url 'accounts:change' %}" role="button"
                                   class="btn btn-outline-success rounded-pill me-2"><i
                                        class="bi bi-pencil-fill me-3"></i>Редактировать</a>
                                <a href="{% url 'accounts:password_change' %}" role="button"
                                   class="btn btn-outline-warning rounded-pill"><i
                                        class="bi bi-pencil-fill me-3"></i>Сменить пароль</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if not user_obj.is_admin %}
            <div class="card">
                <div class="card-body">
                    <h1>Группы</h1>
                    <div class="row row-cols-3">
                        {% for group in groups %}
                            <div class="col my-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center mb-3">
                                            <h5 class="card-title m-0"><a href="{% url 'webapp:group_view' group.pk %}"
                                                                          style="color: {{ group.color }};">{{ group.language.name_language }}
                                                #{{ group.number_group }}</a></h5>
                                        </div>
                                        <p class="card-text">Дата запуска группы: {{ group.data_start }} </p>
                                        {% if group.data_end %}
                                            <p class="card-text">Дата выпуска
                                                группы:{{ group.data_end }} </p>{% endif %}
                                    </div>
                                    {% if user_obj == request.user and request.user.is_student %}
                                        <a class="btn btn-outline-info btn-sm rounded-pill m-2"
                                           href="{% url 'accounts:user_results' group.pk %}"
                                           role="button">Успеваимось</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endif %}
    </div>





{% endblock %}