{% extends 'base.html' %}
{% block content %}

    <div class="container-xxl mt-3">
        <div class="card">
            <div class="card-body">
                <h1>Создание материала</h1>

                <form action="" method="post">
                    {% include 'partial/form.html' with button_text="Создать" %}

                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block my_script %}
    <script>
        tinymce.init({
            selector: 'textarea#basic-example',
            width: '100%',
            height: 500,
            plugins: [
                'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
                'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
                'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | blocks | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
        });

    </script>
{% endblock %}