{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl mt-3">
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        <div class="bg-white">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Группа</th>
                    <th scope="col">Cобытие</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Название</th>
                    {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                        <th scope="col">Действие</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for material in materials %}
                    <tr>
                        <td>{{ material.group.language.name_language }} # {{ material.group.number_group }}</td>
                        <td>{{ material.lesson.get_type_lesson_display}} # {{ material.lesson.number }}</td>
                        <td>{{ material.get_type_material_display }}</td>
                        <td><a href="{% url 'webapp:material_view' material.pk %}">{{ material.title }}</a></td>
                        {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                            <td>
                                <a class="btn btn-outline-info btn-sm rounded-circle me-2"
                                   href="{% url 'webapp:material_update' material.pk %}"
                                   role="button"> <i class="bi bi-pencil-fill"></i></a>
                                <a class="btn btn-outline-danger btn-sm rounded-circle"
                                   href="{% url 'webapp:material_delete' material.pk %}"
                                   role="button"> <i class="bi bi-trash"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}