{% extends 'base.html' %}
{% block content %}

    <div class="container-xxl mt-3">

        <div class="card">
            <div class="card-body">
                <h1>Создание материала</h1>
                {% include 'partial/simple_search.html' %}
                <form action="" method="post">
                    {% include 'partial/form.html' with button_text="Создать" %}

                </form>
            </div>
        </div>
    </div>
{% endblock %}