{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card px-5 my-3">
                    <div class="card-body">
                        <h2 class="card-title text-center fw-bold">{{ material.title }}</h2>
                    </div>
                </div>
                <div class="card px-5">
                    <div class="card-body">
                        {% autoescape off %}
                            {{ material.content }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}