{% if not fields_only %}
{% csrf_token %}
{% endif %}

{% for error in form.non_field_errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}

{% for field in form %}
    <div class="form-check">
        <p><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
        <p>{{ field }}</p>
        {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
{% endfor %}


{% if not fields_only %}
<div class="form-check">
    <input type="submit" class="btn btn-primary px-5" value="{{ button_text }}"/>
</div>
{% endif %}