<form action="" method="GET">
    <div class="d-flex m-3">
        {{ search_form.search }}
        <input type="submit" class="btn btn-success ms-1" value="Поиск">
    </div>
    {% for error in search_form.search.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
</form>