{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}CRM Attractor{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% if request.user.is_authenticated %}{% url 'webapp:index' %}{% endif %}">
            <img src="{% static 'images/attractor-logo.png' %}" alt="" width="30" height="24"
                 class="d-inline-block align-text-top">
            Attractor School
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% url 'webapp:index' as profile_url %} {% if request.path == profile_url %}active{% endif %}"
                           aria-current="page" href="{% url 'webapp:index' %}">События</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% url 'webapp:groups_list' as profile_url %} {% if request.path == profile_url %}active{% endif %}"
                           aria-current="page" href="{% url 'webapp:groups_list' %}">Группы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% url 'webapp:materials_list' as profile_url %} {% if request.path == profile_url %}active{% endif %}"
                           aria-current="page" href="{% url 'webapp:materials_list' %}">Материалы</a>
                    </li>
                    {% block menu %}
                    {% endblock %}
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                {% if request.user.is_admin %}
                    <div class="nav-item dropdown">
                        <a class="nav-link text-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="bi bi-people-fill"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'accounts:users_list_is_filter' 'registered' %}">Зарегистрированные</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% url 'accounts:users_list_is_filter' 'not_registered' %}">Не
                                Зарегистрированные</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'accounts:user_add' %}">Добавить пользователя</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <a href="{% url 'accounts:detail' request.user.pk %}"
                   class="navbar-text lh-base mb-0 me-3 text-capitalize
                      text-decoration-none fw-bolder">Профиль</a>
                <a href="{% url 'accounts:logout' %}" class="btn btn-outline-success navbar-text me-5">Выйти</a>
            {% endif %}
        </div>


    </div>
</nav>

{% block content %}
{% endblock %}
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block my_script %}
{% endblock %}
</body>
</html>