body {
    background-color: #04012b;
    font-size: 16px;
    font-weight: 300;
    font-family: Inter, sans-serif;
    line-height: 1;
}

.card-header-logo {
    font-size: 35px;
}

.calendar {
    min-width: 1000px;
    max-width: 1400px;
    margin: 50px auto;
}

.calendar-week-name {

}

.calendar-week-day-name {
    width: calc(100% / 7);
    padding: 10px;
}

.calendar-week {

}

.calendar-month {

}

.calendar-week-date {
    width: calc(100% / 7);
    padding: 10px;
    height: 200px;
}

.calendar-week-date-span {
    height: 20px;
}

.calendar-week-date-events {
    height: 160px;
}

.calendar-week-date-event {
    padding: 5px 5px 5px 10px;
    color: white;
    text-decoration: none;
    min-width: 122px;
    max-width: 100%;
}

.calendar-week-date-event:active, .calendar-week-date-event:focus, .calendar-week-date-event:hover {
    color: white;
}