{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl mt-3">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for language in languages %}
                <div class="accordion-item">
                    <div class="accordion-header d-flex" id="{{ language.name_language }}-{{ language.pk }}-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#{{ language.name_language }}-{{ language.pk }}-collapse"
                                aria-expanded="false"
                                aria-controls="{{ language.name_language }}-{{ language.pk }}-collapse">
                            {{ language.name_language }}
                        </button>
                        {% if not language.groups.all %}
                            <div class="pe-3 d-flex align-items-center">
                                <div>
                                    <a class="btn btn-outline-danger btn-sm rounded-circle"
                                       href="{% url 'webapp:language_delete' language.pk %}" role="button"><i
                                            class="bi bi-trash"></i></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div id="{{ language.name_language }}-{{ language.pk }}-collapse"
                         class="accordion-collapse collapse p-3"
                         aria-labelledby="{{ language.name_language }}-{{ language.pk }}-heading"
                         data-bs-parent="#accordionFlushExample">

                        <div class="row row-cols-3">
                            {% for group in language.groups.all %}
                                {% if request.user.is_superuser or self.request.user.is_admin or request.user in group.users.all %}
                                    <div class="col my-3">
                                        <div class="card h-100">
                                            <div class="card-body">
                                            <div class="d-flex flex-wrap align-items-center mb-3">
                                                <h5 class="card-title m-0"><a href="{% url 'webapp:group_view' group.pk %}"
                                                                          style="color: {{ group.color }};">{{ group.language.name_language }}
                                                    #{{ group.number_group }}</a></h5>
                                                {% if request.user.is_superuser or self.request.user.is_admin %}
                                                    <a class="btn btn-outline-info btn-sm rounded-circle m-2"
                                                       href="{% url 'webapp:group_update' group.pk %}"
                                                       role="button"> <i class="bi bi-pencil-fill"></i></a>
                                                    <a class="btn btn-outline-danger btn-sm rounded-circle my-2"
                                                       href="{% url 'webapp:group_delete' group.pk %}"
                                                       role="button"> <i class="bi bi-trash"></i></a>
                                                {% endif %}
                                            </div>
                                                <p class="card-text">Дата запуска группы: {{ group.data_start }} </p>
                                                {% if group.data_end %}
                                                    <p class="card-text">Дата выпуска
                                                        группы:{{ group.data_end }} </p>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% if request.user.is_superuser or self.request.user.is_admin %}
                                <div class="col my-3">
                                    <a class="btn btn-outline-success btn-lg h-100 d-flex align-items-center justify-content-center"
                                       href="{% url 'webapp:group_create' language.pk %}" role="button"><i
                                            class="bi bi-plus-lg fs-1"></i></a>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
        {% if request.user.is_superuser or self.request.user.is_admin %}
            <div class="d-flex my-3">
                <a class="btn btn-success btn-lg rounded-circle fs-2 ms-auto" href="{% url 'webapp:language_create' %}"
                   role="button"><i class="bi bi-plus-lg"></i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}