{% extends 'base.html' %}


{% block content %}
    <div class="container-xxl mt-3">
        <div class="row flex-column">
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ group.language.name_language }}
                            #{{ group.number_group }}</h5>
                        <p class="card-text">Дата запуска группы: {{ group.data_start }} </p>
                        {% if group.data_end %}
                            <p class="card-text">Дата выпуска группы:{{ group.data_end }} </p>{% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title d-inline-block">Периоды </h5>
                        {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                            <a class="btn btn-outline-success btn-sm rounded-circle"
                               href="{% url 'webapp:period_create' group.pk %}"
                               role="button"><i class="bi bi-plus-lg"></i></a>
                        {% endif %}
                        <div class="p-1">
                            {% for period in periods %}
                                <a href="{% url "webapp:group_view_period_pk" group.pk period.pk %}"
                                   class="btn {% if period_now.pk == period.pk %} btn-success disabled
                                  {% else %} btn-outline-secondary {% endif %}">
                                    #{{ period.number_period }}</a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        {% if period_now %}
            <div class="col-12 ">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center mb-3">
                            <h5 class="mb-0">Учебный месяц №{{ period_now.number_period }} </h5>
                            {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                <a class="btn btn-outline-danger btn-sm rounded-circle ms-2"
                                   href="{% url 'webapp:period_delete' period_now.pk %}" role="button"><i
                                        class="bi bi-trash"></i></a>
                                <a class="btn btn-outline-info btn-sm rounded-pill ms-auto"
                                    href="{% url 'webapp:period_results' period_now.pk %}" role="button">Успеваемость</a>
                            {% endif %}
                        </div>


                        <p class="card-text">Дата начала: {{ period_now.data_start|date:"M d, Y" }} </p>
                        <p class="card-text">Дата конца: {{ period_now.data_end|date:"M d, Y" }} </p>
                    </div>
                    <div class="row row-cols-4 m-2 mb-4">
                        {% for lesson in lessons %}
                            <div class="col my-2">
                                <div class="card border h-100
                                        {% if lesson.data_start|date:"Ymd" == now|date:"Ymd" %} border-success
                                        {% else %} border-secondary {% endif %}">
                                    <div class="card-header d-flex align-items-center">
                                        <h5 class="mb-0">{{ lesson.get_type_lesson_display }} #{{ lesson.number }}</h5>
                                        {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                            <a class="btn btn-outline-info btn-sm rounded-circle ms-auto me-2"
                                               href="{% url 'webapp:lesson_update' lesson.pk %}?next_url={{ request.path }}"
                                               role="button">
                                                <i class="bi bi-pencil-fill"></i></a>
                                            <a class="btn btn-outline-danger btn-sm rounded-circle"
                                               href="{% url 'webapp:lesson_delete' lesson.pk %}?next_url={{ request.path }}"
                                               role="button">
                                                <i class="bi bi-trash"></i></a>
                                        {% endif %}
                                    </div>
                                    <div class="card-body">

                                        <h6 class="card-subtitle mb-2 text-muted">Начало занятия: <span
                                                class="d-block">{{ lesson.data_start|date:"M d, Y | G:i " }}</span></h6>
                                        <p class="card-text ">Тема: <span
                                                class="d-block fs-5 mt-1">{{ lesson.theme|default:"-" }}</span></p>
                                        {% if lesson.data_start|date:"YmdGi" <= now|date:"YmdGi" %}
                                            <a href="{% url 'webapp:lesson_view' lesson.pk %}"
                                               class="card-link link-success">Просмотреть </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                            <div class="col my-2">
                                <a class="btn btn-outline-success btn-lg h-100 w-100 d-flex align-items-center justify-content-center"
                               href="{% url 'webapp:lesson_group_create' group.pk %}" role="button"><i
                                    class="bi bi-plus-lg fs-1"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}