{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl py-3">
        <div class="row row-cols-3">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title w-100 text-center">{{ lesson.get_type_lesson_display }} #{{ lesson.number }}</h3>
                        <h5 class="card-subtitle w-100 text-center text-muted">
                            Тема: {{ lesson.theme|default:"-" }}</h5>
                        <div class="w-100 d-flex justify-content-center pt-2 pb-4">
                            {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                <a class="btn btn-outline-info btn-sm rounded-circle me-2"
                                   href="{% url 'webapp:lesson_update' lesson.pk %}"
                                   role="button"> <i class="bi bi-pencil-fill"></i></a>
                                <a class="btn btn-outline-danger btn-sm rounded-circle"
                                   href="{% url 'webapp:lesson_delete' lesson.pk %}"
                                   role="button"> <i class="bi bi-trash"></i></a>
                            {% endif %}
                        </div>

                        <p class="card-text">Начало занятия: {{ lesson.data_start|date:"M d, Y | G:i " }}</p>
                        {% if lesson.deadline_task %}
                            <div class="d-flex align-items-center w-100 mb-3">
                                <p class="card-text m-0"> Дедлайн: {{ lesson.deadline_task|date:"M d, Y | G:i " }}</p>
                                {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                    <button type="button" class="btn btn-outline-info btn-sm rounded-circle ms-3"
                                            data-bs-toggle="modal"
                                            data-bs-target="#exampleModal1">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="d-flex align-items-center w-100 mb-3">
                                <p class="card-text m-0"> Дедлайн: </p>
                                {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                    <button type="button" class="btn btn-outline-info btn-sm rounded-circle ms-3"
                                            data-bs-toggle="modal"
                                            data-bs-target="#exampleModal1">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                            <div class="modal fade" id="exampleModal1" tabindex="-1"
                                 aria-labelledby="exampleModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">Дедлайн</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'webapp:lesson_update_deadline_task' lesson.pk %}"
                                                  method="post" class="d-flex mb-3">
                                                {% csrf_token %}
                                                <input class="form-control w-75 rounded-pill" type="datetime-local"
                                                       name="deadline_task"
                                                       aria-label="дедлайн"
                                                       required
                                                       value="{{ lesson.deadline_task|date:"Y-m-d" }}T{{ lesson.deadline_task|date:"G:i:s" }}"
                                                >
                                                <button type="submit"
                                                        class="btn btn-outline-secondary btn-sm rounded-pill px-3 ms-auto">
                                                    <i
                                                            class="bi bi-pencil-fill"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if lesson.get_task and request.user.is_teacher %}
                            <a href="{% url 'webapp:work_lesson_check' lesson.pk %}"
                               class="btn btn-outline-primary btn-sm rounded-pill position-relative">Проверить работы
                                {% if works_count %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ works_count }}<span
                                            class="visually-hidden">unread messages</span></span>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 p-3">
                    <div class="w-100">
                        {% if lesson.get_razdatka %}
                            <h3>Материал:</h3>
                            <div class="d-flex">
                                <a href="{% url 'webapp:material_view' lesson.get_razdatka.pk %}"
                                   class="d-inline-block text-truncate py-2 px-4 bg-secondary bg-gradient text-white rounded-pill w-75 text-center">{{ lesson.get_razdatka.title }}</a>
                                {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                    <a class="btn btn-outline-secondary btn-sm rounded-circle ms-auto"
                                       href="{% url 'webapp:material_update' lesson.get_razdatka.pk %}"
                                       role="button"> <i class="bi bi-pencil-fill"></i></a>
                                {% endif %}
                            </div>
                        {% else %}
                            <h3>Материал:</h3>
                            <div class="d-flex">
                                {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                    <a class="btn btn-outline-secondary btn-sm rounded-circle me-3"
                                       href="{% url 'webapp:material_search_create' lesson.period.group.pk lesson.pk 'material' %}"
                                       role="button"><i class="bi bi-search"></i></a>
                                    <a class="btn btn-outline-secondary btn-sm rounded-circle"
                                       href="{% url 'webapp:material_create' lesson.period.group.pk lesson.pk 'material' %}"
                                       role="button"><i class="bi bi-plus"></i></a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if lesson.get_task %}
                            <hr>
                            <h3>Задание:</h3>
                            <div class="d-flex">

                                <a href="{% url 'webapp:material_view' lesson.get_task.pk %}"
                                   class="d-inline-block text-truncate py-2 px-4 bg-secondary bg-gradient text-white rounded-pill w-75 text-center">{{ lesson.get_task.title }}</a>
                                {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                    <a class="btn btn-outline-secondary btn-sm rounded-circle ms-auto"
                                       href="{% url 'webapp:material_update' lesson.get_task.pk %}"
                                       role="button"> <i class="bi bi-pencil-fill"></i></a>
                                {% endif %}
                            </div>
                            {% if not request.user.is_superuser and not self.request.user.is_admin and not request.user.is_teacher %}
                                <hr>
                                <h3>Работа:</h3>
                                <div class="mb-3">

                                    {% if user_work.work %}
                                        <a href="{{ user_work.work.url }}"
                                           class="btn btn-outline-primary btn-sm rounded-pill">Файл</a>
                                    {% endif %}
                                    {% if user_work.link %}
                                        <a href="{{ user_work.link }}" class="btn btn-outline-primary btn-sm rounded-pill">ссылка</a>
                                    {% endif %}
                                </div>
                                <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    Загрузить работу
                                </button>

                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Загрузить работу</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form
                                                        {% if user_work %}
                                                            action="{% url 'webapp:work_update' user_work.pk %}"
                                                        {% else %}
                                                            action="{% url 'webapp:work_create' lesson.pk %}"
                                                        {% endif %}
                                                            method="post"
                                                            class="d-flex flex-column my-3" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {% for field in form %}
                                                        {{ field }}
                                                    {% endfor %}
                                                    <div>

                                                        <button type="submit"
                                                                class="btn btn-outline-secondary btn-sm rounded-pill px-3 ms-2">
                                                            <i class="bi bi-plus-lg"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        {% elif lesson.get_type_lesson_display != 'Вебинар' %}
                            {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                <hr>
                                <h3>Задание:</h3>
                                <div class="d-flex">
                                    <a class="btn btn-outline-secondary btn-sm rounded-circle me-3"
                                       href="{% url 'webapp:material_search_create' lesson.period.group.pk lesson.pk 'task' %}"
                                       role="button"><i class="bi bi-search"></i></a>
                                    <a class="btn btn-outline-secondary btn-sm rounded-circle"
                                       href="{% url 'webapp:material_create' lesson.period.group.pk lesson.pk 'task' %}"
                                       role="button"><i class="bi bi-plus"></i></a>

                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 p-3">
                    <h4>Ссылка на запись занятия:</h4>
                    {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                        <form action="{% url 'webapp:link_broadcast_create' lesson.pk %}" method="post" class="d-flex mb-3">
                            {% csrf_token %}
                            <input class="form-control w-75 rounded-pill" type="text" name="link" aria-label="ссылка"
                                   required>
                            <button type="submit" class="btn btn-outline-secondary btn-sm rounded-pill px-3 ms-auto"><i
                                    class="bi bi-plus-lg"></i></button>
                        </form>
                    {% endif %}
                    {% if lesson.links_broadcast.all %}
                        <div class="w-100 my-2">
                            <p class="text-secondary">Ссылки :</p>
                            {% for link_broadcast in lesson.links_broadcast.all %}
                                <p class="text-secondary fs-5">{{ forloop.counter }}) <a
                                        href="{{ link_broadcast.link }}"
                                        class="link-success fs-6">{{ link_broadcast.link }}</a>
                                    {% if request.user.is_superuser or self.request.user.is_admin or request.user.is_teacher %}
                                        <a class="btn btn-outline-danger btn-sm rounded-circle"
                                           href="{% url 'webapp:link_broadcast_delete' link_broadcast.pk %}"
                                           role="button"> <i class="bi bi-trash"></i></a>
                                    {% endif %}
                                </p>

                            {% endfor %}
                        </div>


                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}