{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl mt-3">
        <div class="row flex-column">
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ period.group.language.name_language }}
                            #{{ period.group.number_group }}</h5>
                        <p class="card-text">Дата запуска группы: {{ period.group.data_start }} </p>
                        {% if group.data_end %}
                            <p class="card-text">Дата выпуска группы:{{ period.group.data_end }} </p>{% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title d-inline-block">Периоды </h5>
                        <div class="p-1">
                            {% for period_g in period.group.periods.all %}
                                <a href="{% url "webapp:period_results" period_g.pk %}"
                                   class="btn {% if period.pk == period_g.pk %} btn-success disabled
                                  {% else %} btn-outline-secondary {% endif %}">
                                    #{{ period_g.number_period }}</a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            {% if period %}
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-header d-flex">
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0">Учебный месяц №{{ period.number_period }} </h5>
                                <span class="ms-3">({{ period.data_start|date:"d-m-Y" }}-{{ period.data_end|date:"d-m-Y" }})</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Студент</th>
                                    {% for i in i_lesson %}
                                        <th scope="col">{{ i }}</th>
                                    {% endfor %}
                                    {% if control %}
                                        <th scope="col">Контрольная</th>
                                    {% endif %}
                                    <th scope="col">Итог</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in results %}


                                    <tr>
                                        <td>
                                            <a href="{% url 'accounts:detail' i.user.pk %}">{{ i.user.get_full_name|default:i.user.username }}</a>
                                        </td>
                                        {% for work in i.works %}
                                            <td>
                                                {% if work %}
                                                    <a href="{% url 'webapp:work_view' work.pk %}" class="link-success">{{ work.grade }}</a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        {% if control %}
                                            <td>
                                                {% if i.work_control %}
                                                    <a href="{% url 'webapp:work_view' i.work_control.pk %}" class="link-success">{{ i.work_control.grade }}</a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td>{{ i.total }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}